<app-navbar></app-navbar>
<main class="centerEvents">
  <section *ngIf="firstName == '' && lastName == '' ">
    <p>You need to register your first name and last name to be able to create new events. <a routerLink='/'> Click here
        to register! </a></p>
  </section>

  <section *ngIf="firstName != '' && lastName != '' ">
    <form [formGroup]="createEventsForm" class="formText" (ngSubmit)="submitData()" novalidate>
      <section class="spaceBottom">
        Event Name: <input type="text" id="eventName" name="eventName" formControlName="eventName"><br>
        <p style="color: red;"
          *ngIf="(createEventsForm.controls.eventName.dirty || createEventsForm.controls.eventName.touched)">
          <span *ngIf="createEventsForm.controls.eventName.errors?.required">Event name is required!</span>
          <span *ngIf="createEventsForm.controls.eventName.errors?.minLength">The event name has to be at least 2
            characters long!</span>
        </p>
      </section>

      <!-- PUT THE START AND END DATE HERE -->
      <section class="spaceBottom">
        Start Date and Time:
        <input type="datetime-local" name="startDate" formControlName="startDate" placeholder="yyyy-MM-ddTHH:mm:ss">
        <p style="color: red;"
          *ngIf="(createEventsForm.controls.startDate.dirty || createEventsForm.controls.startDate.touched)">
          <span *ngIf="createEventsForm.controls.startDate.errors?.required">A start date is required</span>
        </p>
      </section>

      <section class="spaceBottom">
        End Date and Time:
        <input type="datetime-local" name="endDate" formControlName="endDate" placeholder="yyyy-MM-ddTHH:mm:ss">
        <p style="color: red;"
          *ngIf="(createEventsForm.controls.endDate.dirty || createEventsForm.controls.endDate.touched)">
          <span *ngIf="createEventsForm.controls.endDate.errors?.required">An end date is required</span>
        </p>
      </section>

      <section class="spaceBottom">
        City:
        <select name="city" id="city" formControlName="city">
          <option value="" disabled>Choose a city</option>
          <option *ngFor="let city of cityData" [ngValue]="city.id">
            {{city.name}}
          </option>
        </select>
      </section>

      <section class="spaceBottom">
        Free:
        <select name="isFree" id="selectOption" formControlName="isFree">
          <option value="" disabled>Choose a Value</option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
        <p style="color: red;" *ngIf="(createEventsForm.controls.isFree.dirty || createEventsForm.controls.isFree.touched)">
          <span *ngIf="createEventsForm.controls.isFree.errors?.required">You must choose a value</span>
        </p>
      </section>

      <input type="checkbox" id="checkbox" name="isReady" (click)="checkboxCheck()" />Click this checkbox if everything
      is done.<br>

      <section *ngIf="isChecked">
        <input type="submit" value="Submit" class="button1" [disabled]="createEventsForm.invalid">
      </section>

      {{createEventsForm.value | json}}

    </form>
  </section>
</main>
