<app-navbar></app-navbar>
<main class="centerEvents">
  <section *ngIf="firstName == '' && lastName == '' ">
    <p>You need to register your first name and last name to be able to see the events. <a routerLink='/'> Click here to register! </a></p>
  </section>

  <section *ngIf="firstName != '' && lastName != '' ">
    <form [formGroup]="createEventsForm" class="formText">
      <section class="spaceBottom">
        Event Name: <input type="text" id="eventName" name="eventName" formControlName="eventName"><br>
        <p style="color: red;" *ngIf="(createEventsForm.controls.eventName.dirty || createEventsForm.controls.eventName.touched)">
          <span *ngIf="createEventsForm.controls.eventName.errors?.required">Event name is required!</span>
          <span *ngIf="createEventsForm.controls.eventName.errors?.minLength">The event name has to be at least 2 characters long!</span>
        </p>
      </section>

      <!-- PUT THE START AND END DATE HERE -->
      <section class="spaceBottom">
        Start Date and Time:
        <input type="datetime-local" name="startDate" formControlName="startDate" placeholder="yyyy-MM-ddTHH:mm:ss">
        <p style="color: red;" *ngIf="(createEventsForm.controls.startDate.dirty || createEventsForm.controls.startDate.touched)">
           <span *ngIf="createEventsForm.controls.startDate.errors?.required">A start date is required</span>
        </p>
      </section>

      <section class="spaceBottom">
        Free:<br>
        <select name="free" id="eventFree">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
      </section>

      <input type="checkbox" id="checkbox" name="isReady" (click)="checkboxCheck()" />Click this checkbox if everything
      is done.<br>

      <section *ngIf="isChecked">
        <input type="submit" value="Submit" class="button1" [disabled]="createEventsForm.invalid">
      </section>
    </form>
  </section>
</main>
