<form>
  <section class="input-group mb-3">
    <div class="input-group-prepend">
      <p class="input-group-text" id="inputGroup-sizing-default">Event</p>
    </div>
    <input [(ngModel)]="evtName" name="eventNames" placeholder="Enter the name of the event you are looking for..."
      type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </section>
</form>

<main *ngIf="eventData">
  <section *ngFor='let event of eventData | dateSortPipe | filterEvtName:evtName; let i = index;'>

    <!-- this part is to display ALL EVENTS -->
    <section *ngIf="router.url === '/allEvents' || router.url === '/'">
      <p *ngIf='event.date !== eventData[i-1]?.date' class="eventDate"> {{event.date}} </p>
      <span class='allEvents'>
        <time class='time'> {{event.time}} </time>
        <section class="events">
          <article class='evtData'>
            <p> {{event.name}} </p>
            <p class='freeEvt' *ngIf='event.isFree===true'> Free!! </p>
          </article>
          <p class='cityName'> {{event.cityName}} </p>
        </section>
        <button *ngIf="event.isSignedUp == false" id='joinButton' class='button' type='button' data-toggle="modal"
          data-target="#eventModal" (click)="toggleModalEvent(event)"> Join!
        </button>
        <p *ngIf="event.isSignedUp == true" class="alreadyJoined">Joined!</p>
      </span>
    </section>

    <!-- this part is to display the SIGNED UP EVENTS -->
    <section *ngIf="router.url === '/signedEvents'">
      <main *ngIf=" event.isSignedUp == true">
        <p *ngIf='event.date !== eventData[i-1]?.date' class="eventDate"> {{event.date}} </p>
        <span class='allEvents'>
          <time class='time'> {{event.time}} </time>
          <section class="events">
            <article class='evtData'>
              <p> {{event.name}} </p>
              <p class='freeEvt' *ngIf='event.isFree===true'> Free!! </p>
            </article>
            <p class='cityName'> {{event.cityName}} </p>
          </section>
          <button id='joinButton' class='button' type='button' data-toggle="modal" data-target="#eventModal"
            (click)="toggleModalEvent(event)"> Leave </button>
        </span>
      </main>
    </section>

  </section>
</main>

<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-modal [modalEvt]="modalEvt" [eventData]="eventData"></app-modal>
</div>
