<section class="centerEvents spaceTop">
  <p class="formText">Welcome, User! To be able to sign up to our events, we need a few simple information and then
    you'll be good to go!</p>
</section>

<main class="centerEvents">
  <form action="" class="formText">

    <section class="spaceBottom">
      First Name: <input type="text"><br>
      Last Name: <input type="text"><br>
      Choose your favourite coding language:
      <select name="codeLangs" class="spaceBottom">
        <option value="javascript">JavaScript</option>
        <option value="java">Java</option>
        <option value="typescript">TypeScript</option>
        <option value="python">Python</option>
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="c#">C#</option>
        <option value="php">PHP</option>
      </select><br>     
    </section>

    <input type="checkbox">Everything is ready<br>

  </form>
</main>
