<section class="centerEvents spaceTop">
  <p class="formText">Welcome, User! To be able to sign up to our events, we need a few simple information and then
    you'll be good to go!</p>
</section>

<main class="centerEvents">
  <form [formGroup]="registerForm" class="formText" (ngSubmit)="submitData()">

    <section class="spaceBottom">
      First Name: <input type="text" id="firstName" name="firstName" formControlName="firstName" required><br>
        <p style="color: red;" *ngIf="(registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched) && registerForm.controls.firstName.invalid && registerForm.controls.firstName.errors.required">Your name is required</p>
        <!-- <p style="color: red;" *ngIf="(registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched) && registerForm.controls.firstName.invalid && registerForm.controls.firstName.errors.minLength">Your name has to be at least 2 characters long</p> -->
        <p style="color: red;" *ngIf="(registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched) && registerForm.controls.firstName.invalid && registerForm.controls.firstName.errors.pattern">Your name can't include special characters</p>

      Last Name: <input type="text" id="lastName" name="lastName" formControlName="lastName" required><br>
        <p style="color: red;" *ngIf="(registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched) && registerForm.controls.lastName.invalid && registerForm.controls.lastName.errors.required">Your last name is required</p>
        <!-- <p style="color: red;" *ngIf="(registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched) && registerForm.controls.lastName.invalid && registerForm.controls.lastName.errors.minLength">Your last name has to be at least 2 characters long</p> -->
        <p style="color: red;" *ngIf="(registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched) && registerForm.controls.lastName.invalid && registerForm.controls.lastName.errors.pattern">Your name can't include special characters</p>

      Choose your favourite coding language:
      <select name="codeLangs" id="favLang" class="spaceBottom">
        <option value="javascript">JavaScript</option>
        <option value="java">Java</option>
        <option value="typescript">TypeScript</option>
        <option value="python">Python</option>
        <option value="c">C</option>
        <option value="c++">C++</option>
        <option value="c#">C#</option>
        <option value="php">PHP</option>
      </select><br>
    </section>

    <input type="checkbox" id="checkbox" name="isReady" (click)="checkboxCheck()" />Click this checkbox if everything is done.<br>

    <section *ngIf="isChecked">
      <input type="submit" value="Submit" class="button1" [disabled]="registerForm.invalid">
    </section>

  </form>
</main>
